        <div class="page-container page-mode-rtl">
            <div class="page-sidebar scroll">
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="index.html">ATLANT</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>                                                                      
                    <li class="xn-title">Navigation</li>
                    <li>
                        <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                    </li>                                        
                </ul>
            </div>

            <div class="page-content">
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel builder-holder">
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                </ul>

                <ul class="breadcrumb">
                    <li><a href="#">Link</a></li>                    
                    <li class="active">Active</li>
                </ul>
                
                <div class="page-content-wrap">                
                                    
                    <div class="builder-holder builder-holder-removable"></div>
                    
                </div>    
            </div>            
        </div>